<div style="margin: 22px;border-radius: 12px;">
    <p style="text-align:center;font-family: 'Oleo Script Swash Caps';font-size: 30px">Modifier Ligne<span style="color:#9B59B6 ;"> {{model.numLigne}}</span>  </p>
    <mat-divider></mat-divider>
    <br>
<form (submit)="UpdateLigneCommande()">


    <mat-form-field appearance="fill">
        <mat-label>Quantite Commande</mat-label>
        <input #qteInput matInput placeholder="Placeholder" placeholder=""  name="qteCmd"  [(ngModel)]="model.qteCmd">
        <mat-icon matSuffix class="green-icon">shopping_basket</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code Article</mat-label>
        <mat-select   name="codeArticle" (ngModelChange)="selectItem($event)"  [(ngModel)]="modelArticle.codeArticle">
          <mat-option [value]="this.modelArticle.codeArticle">{{nomArticle}}</mat-option>
          <mat-option *ngFor="let article of listeArticle" [value]="article.codeArticle">
            {{article.nomArt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- <mat-form-field appearance="fill">
        <mat-label>Code Article</mat-label>
        <input #prenomInput matInput placeholder="Placeholder" placeholder="" name="codeArticle"  [(ngModel)]="modelArticle.codeArticle" >
        <mat-icon matSuffix class="green-icon">code</mat-icon>
        
      </mat-form-field> -->
      <br>

    <button mat-dialog-close type="submit"  mat-raised-button color="primary" class="add-button">
        Modifier
    </button>
</form>
</div>
